BattleTanks/Content/UI_Images/
BattleTanks/Content/UI/UI_Images/
BattleTanks/Content/UI/Fonts/inktank.uasset
BattleTanks/Content/UI/Fonts/inktank_Font.uasset
BattleTanks/Content/UI/Fonts/Strengthen.uasset
BattleTanks/Content/UI/Fonts/Strengthen_Font.uasset
